.slide_container {
    display: flex;
    gap: 20px;
    overflow: hidden; /* 슬라이드 영역 넘침 방지 */
    width: 100%; /* 슬라이드 컨테이너의 너비를 조절해주세요 */
}

.slide_item {
    flex: 0 0 400px; /* 각 슬라이드 아이템의 너비를 조절해주세요 */
    transition: transform 0.5s ease; /* 슬라이드 전환 애니메이션 설정 */
}

/* ############################################################################### */

.slideContainer{
    display: flex;
    gap: 20px;
    overflow: hidden; /* 슬라이드 영역 넘침 방지 */
    width: 100%; /* 슬라이드 컨테이너의 너비를 조절해주세요 */
}